.caja {
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    border: 40px solid rgb(220, 8, 8);
    border-radius: 10px;
    font-size: 60px;
    padding: 20px;
    margin: 40px;
}

.hijo-caja {
    width: 100px;
    height: 100px;
    background-color: rgb(16, 161, 67);
    margin: auto;
}

/*

FORMAS DE PASAR VALORES A MARGIN Y PADDING

margin: 20px;

TODOS LOS LADOS DE LA CAJA VAN A TENER 20PX MÁS

margin: 20px 10px;

TOP Y BOTTOM VAN A TENER 20 PX Y RIGHT Y LEFT VAN A TENER 10PX

margin: 10px 20px

TOP Y BOTTOM VAN A TENER 10 PX Y RIGHT Y LEFT VAN A TENER 20PX

margin: 10px 20px 30px 40px;

TOP es 10PX
RIGHT ES 20PX
BOTTOM ES 30PX
LEFT ES 40PX

margin: 10px 0px 35px;
Top es 10px
right y left es 40px
bottom es 5px

*/

.caja-margenes {
    width: 300px;
    height: 300px;
    background-color: grey;
    border: 5px dotted blue;
    padding: 300px 150px 10px 80px;
}